<?xml version='1.0' encoding='UTF-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-ios-secure" version="0.2.3">
    <name>iOS Secure</name>
    <author>liop </author>
    <description>this is a simple ios secure plugin for cordova</description>
    <keywords>ios,secure,md5</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <js-module src="www/secure.js" name="Secure">
        <clobbers target="Secures" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Secure">
                <param name="ios-package" value="Secure" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/Secure.h" />
        <source-file src="src/ios/Secure.m" />
    </platform>
</plugin>
